
@import url('../node_modules/cirru-editor/css/editor.css');

* {
    box-sizing: border-box;
}

#app {
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: #528AEC;
}

#files {
    height: 100%;
    width: 300px;
    color: white;
    padding-right: 30px;
}
#files .filename {
    padding: 4px 8px;
    line-height: 24px;
    font-size: 14px;
    font-family: Menlo;
    cursor: pointer;
    text-align: right;
}

#files .filename:hover {
    border-right: 2px white solid;
}

#detail {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#panel {
    width: 100%;
    height: 50px;
}

#filename {
    color: white;
    font-family: Menlo;
    font-size: 13px;
}

#title {}

.button {
    background: rgb(174, 174, 255);
    color: white;
    font-family: fantasy;
    padding: 0 7px;
    line-height: 40px;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 1em;
}

#wrap {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#wrap .cirru-editor {
    flex: 1;
}