
body {
  margin: 0;
}

.app {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background: hsl(222, 11%, 23%);
}

.sidebar {
    width: 25%;
    background-color: #353942;
    line-height: 28px;
    font-family: "Ubuntu Mono";
    -webkit-user-select: none;
    padding-top: 20px;
    color: hsla(0, 100%, 100%, 0.6);
}

.sidebar .folder {}

.sidebar .file {}

.sidebar .file.is-open {
    color: white;
}

.sidebar .line {
    cursor: pointer;
}
.sidebar .line:hover {
    color: hsla(0, 100%, 100%, 0.81);
}

.sidebar .name {
}

.sidebar .icon {
    font-size: 12px;
    display: inline-block;
    width: 20px;
    text-align: center;
}

.sidebar .children {
    padding-left: 20px;
}

.workspace {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.header {
    background-color: hsl(222, 11%, 23%);
    line-height: 36px;
    font-family: Menlo;
    color: white;
    font-size: 14px;
    height: 160px;
}

.header .name {
}

.header .button {
    cursor: pointer;
    background-color: hsla(0, 100%, 100%, 0.07);
    padding: 0 10px;
}

.header .button:hover {
    background-color: hsla(0, 100%, 100%, 0.09);
}

.workspace .cirru-editor,
.workspace textarea {
    flex: 1;
    overflow: auto;
    background-color: hsl(222, 11%, 23%);
}

.workspace textarea {
    border: none;
    font-size: 14px;
    font-family: Menlo;
    color: white;
    padding: 100px 10px 300px 10px;
    outline: none;
    line-height: 24px;
}
